!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Closet Box'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Closet Box'}"}
    %link{href: "http://fonts.googleapis.com/css?family=Montserrat:400", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300", rel: "stylesheet", type: "text/css"}/
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body.background-blue.text-white
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
    %footer.background-orange.padding-20.text-center
      .container
        %p.text-light ClosetBox es un producto 100% Colombiano. Todos sus Derechos Reservados
        %p.text-light No dudes en llamarnos al 314 854 6543
    =render 'layouts/googleanalytics'
